<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

xsi:schemaLocation="http://www.springframework.org/schema/beans

http://springframework.org/schema/beans/spring-beans.xsd"

default-init-method="default_init" default-destroy-method="default_destroy">






<!-- 객체가생성: xml을로딩할때 -->
<!-- id 속성을사용하면 getBean 메서드를통해객체의주소값을받아사용할수있음 -->
<!-- 생성된객체는더이상생성되지않는다. Singleton -->
<!-- init-method: 시작메소드 destroy-method: 종료메소드 -->
<bean id="b1" class='info.example.beans.MyBean1' lazy-init="true" init-method="bean1_init" destroy-method="bean1_destroy"/>


<!-- lazy-init : true - xml을로딩할때객체가생성되지않고 (생략하면 false) -->
<!-- getBean 메서드를호출할때객체가생성되며, singleton이기때문에객체는한번만생성됨 -->
<bean id="b2" class='info.example.beans.MyBean2' lazy-init="true"/>

<!-- scope : prototype - xml을로딩할때객체가생성되지않고, -->
<!-- getBean 메서드를호출할때마다새로운객체를생성해서주소를반환함 -->
<bean id="b3" class='info.example.beans.MyBean3' lazy-init="true" init-method="bean3_init" destroy-method="bean3_destroy"/>



</beans>